<ol>
  <h2>Коротко об опыте и навыках:</h2>
  <li *ngFor="let skill of skills">
    {{skill}}</li>
  <input #newSkill (keyup.enter)="addSkill(newSkill.value);
         newSkill.value=' '">
  <button (click)="addSkill(newSkill.value); newSkill.value=' '">Add</button>
</ol>
<ol>
  <h2>А теперь об интересах и  увлечениях:</h2>
  <li *ngFor="let interest of interests">
    {{interest}}
  </li>
  <input #newInterest (keyup.enter)="addInterest(newInterest.value);
         newInterest.value=' '">
  <button (click)="addInterest(newInterest.value);
         newInterest.value=' '">Add</button>
</ol>
