<div>
<h1>Добро пожаловать на анкету Михаила Дергачева</h1>
<img alt="" title="Красивый лес вместо фото" src="https://cs6.pikabu.ru/post_img/big/2017/09/05/7/1504605947158114655.jpg">
<p>Я рад приветствовать вас на своей первой собственноручно сделанной страничке. Далее коротко обо мне.</p>
<p>
  ФИО: {{aboutme.name}} <br>
  Дата рождения: {{aboutme.birthDate|date:'d.M.yyyy'}} <br />
  Место рождения: {{aboutme.birthPlace}}<br />
  Образование: {{aboutme.education}}. <br />
</p>
  <app-skills></app-skills>
<p>
  На этом, пожалуй, все, спасибо вам за курс и за ваше время, все очень круто.
</p>
<h1>
  Спасибо за внимание.<br>
</h1>
  <app-timer></app-timer>
</div>
